.layout-container {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Full viewport height */
  }
  

  .content-container {
    position: absolute;
    margin-top: 80px;
    flex: 1;
    overflow-y: auto; 
    padding: 20px; 
  }
  /* main{
    margin-top: 75px;
    padding: 0px !important;
  } */